<html lang="en">

 	<%- include('./partials/head.ejs') %>

 <body>

 	<%- include('./partials/nav.ejs') %>


 	<div class="pollution content">
 		<div class="addPost">
 			<a class="addPostSpan" href="/pollution/upload"> <h6>💀</h6> - Add Pollution</a>
 		</div>

 		<% if (pollutions.length > 0) { %>
 			<% pollutions.forEach(pollution => { %>
 				<a class="pollutionPost" href="/pollution/<%= pollution._id %>">
		 			<h3> <%= pollution.pollution_type %></h3>
		 			<p> <%= pollution.description %></p>
		 			<img src= "<%= pollution.photo %>" width="200px" >
		 		</a>
	 			<% }) %>
 		<% } else { %>

 			<p>There are no pollution to display..</p>

 		<% } %>
 	</div>

 </body>

 	<%- include('./partials/footer.ejs') %> 

 </html>