<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= pollution.pollution_type %></h2>
    <h4><%= pollution.description %></h4>
    <div class="content">
      <p><%= pollution.loc %></p>
      <p><%= pollution.status %></p>
      <img src= "../<%= pollution.photo %>" >
    </div>
     <a class="delete" data-doc="<%= pollution._id %>">
      Delete
    </a> 
  </div>
<script>
const trashcan = document.querySelector('a.delete')
trashcan.addEventListener('click', (e) => {
  const endpoint = `/pollution/delete/${trashcan.dataset.doc}`
  fetch(endpoint, { method: 'DELETE'})
    .then(response => response.json())
    .then(data => window.location.href = data.redirect)
    .catch(err => console.log(err))
})
</script>
</body>
</html>

  <%- include("./partials/footer.ejs") %>